## 信贷用户

In [1]:
import pandas as pd
import numpy as np
import networkx as nx
from igraph import *

In [2]:
#load Data
data = pd.read_csv('./xindai_2.csv')
data.shape,data.head()

((100495, 6),
              id          id_1          id_2          id_3  is_abnormal  \
 0  1.363927e+10           NaN  1.878687e+10  1.512023e+10            0
 1  1.899508e+10  1.512198e+10  1.389532e+10  1.829570e+10            0
 2  1.391930e+10  1.829326e+10  1.399326e+10  1.391971e+10            0
 3  1.879515e+10           NaN  1.340952e+10  1.779551e+10            0
 4  1.518083e+10  1.820851e+10  1.398416e+10  1.360850e+10            1

    overdue
 0      NaN
 1      NaN
 2      NaN
 3      NaN
 4      NaN  )

In [3]:
#预处理
# data.dropna(subset=['id'],inplace=True)
data['overdue'].fillna(0,inplace=True)
data.drop_duplicates(inplace=True)
data.loc[data[data.overdue>0].index,'is_abnormal']=2
data['is_abnormal'] = data['is_abnormal'].astype(int)
data.head()

,id,id_1,id_2,id_3,is_abnormal,overdue
0,1.363927e+10,NaN,1.878687e+10,1.512023e+10,0,0.0
1,1.899508e+10,1.512198e+10,1.389532e+10,1.829570e+10,0,0.0
2,1.391930e+10,1.829326e+10,1.399326e+10,1.391971e+10,0,0.0
3,1.879515e+10,NaN,1.340952e+10,1.779551e+10,0,0.0
4,1.518083e+10,1.820851e+10,1.398416e+10,1.360850e+10,1,0.0

### 统计

In [4]:
loan_time = data.groupby(by=['id']).count()['overdue']
loan_time =loan_time.sort_values(ascending=False)
loan_time =loan_time.reset_index().astype(int)
loan_time['label']=0
loan_time =loan_time.rename(columns={'overdue':'times'})
loan_time

                id  times  label
0      18085793563      3      0
1      13086277591      3      0
2      18335620462      3      0
3      13529588430      3      0
4      18685065956      3      0
5      13765325712      3      0
6      15117809689      3      0
7      15902641036      3      0
8      18286064983      3      0
9      13638027412      2      0
10     18212282150      2      0
11     13508502417      2      0
12     13893824563      2      0
13     18708532523      2      0
14     18285252762      2      0
15     13984642361      2      0
16     15103905784      2      0
17     15186952787      2      0
18     13769438596      2      0
19     18786205562      2      0
20     13765360805      2      0
21     18794449152      2      0
22     18224815992      2      0
23     18786198067      2      0
24     15157805896      2      0
25     18385846253      2      0
26     13508517906      2      0
27     13765387959      2      0
28     13985995563      2      0
29     13648077873      2      0
...            ...    ...    ...
99064  18214096955      1      0
99065  18214102124      1      0
99066  18214105345      1      0
99067  18214108940      1      0
99068  18214114322      1      0
99069  18214033035      1      0
99070  18214024816      1      0
99071  18213882213      1      0
99072  18213931388      1      0
99073  18213883681      1      0
99074  18213884566      1      0
99075  18213886009      1      0
99076  18213893663      1      0
99077  18213894655      1      0
99078  18213904715      1      0
99079  18213907653      1      0
99080  18213912815      1      0
99081  18213928865      1      0
99082  18213952401      1      0
99083  18214016721      1      0
99084  18213970501      1      0
99085  18213971535      1      0
99086  18214001861      1      0
99087  18214005479      1      0
99088  18214006206      1      0
99089  18214014878      1      0
99090  18214015013      1      0
99091  18214015126      1      0
99092  18214016702      1      0
99093  12345662244      1      0

[99094 rows x 3 columns]

In [5]:
fm_time =data.groupby(by=['id_1']).count()['overdue'].sort_values(ascending=False).reset_index().astype(int)
fm_time['label']=3
fm_time =fm_time.rename(columns={'id_1':'id','overdue':'times'})
fm_time

                id  times  label
0             1008    137      3
1             1016      3      3
2      15812120871      2      3
3      15121845372      2      3
4      18209358868      2      3
5      15033535452      2      3
6      18685834347      2      3
7      15148984807      2      3
8      15693614947      2      3
9      18325368108      2      3
10     15186583050      2      3
11     18286596704      2      3
12     15149033669      2      3
13     15087168217      2      3
14     13511961591      2      3
15     14760579674      2      3
16     13708726380      2      3
17     18247344275      2      3
18     13529005570      2      3
19     18508345550      2      3
20     15117832950      2      3
21     15182777276      2      3
22     15186550853      2      3
23     13595927084      2      3
24     15185590907      2      3
25     15985408561      2      3
26     13639234337      2      3
27     13571236464      2      3
28     15736486209      2      3
29     15235771836      2      3
...            ...    ...    ...
32442  18109380455      1      3
32443  18109375793      1      3
32444  18104849086      1      3
32445  18106550301      1      3
32446  18106756072      1      3
32447  18107768016      1      3
32448  18108094044      1      3
32449  18108101765      1      3
32450  18108161635      1      3
32451  18108171385      1      3
32452  18108188076      1      3
32453  18108265444      1      3
32454  18108273061      1      3
32455  18108506714      1      3
32456  18108508576      1      3
32457  18108534790      1      3
32458  18108536287      1      3
32459  18108744436      1      3
32460  18108826514      1      3
32461  18109113229      1      3
32462  18109153795      1      3
32463  18109154709      1      3
32464  18109197211      1      3
32465  18109226527      1      3
32466  18109232100      1      3
32467  18109262390      1      3
32468  18109313588      1      3
32469  18109360413      1      3
32470  18109372563      1      3
32471  15529796896      1      3

[32472 rows x 3 columns]

In [6]:
qs_time = data.groupby(by=['id_2']).count()['overdue'].sort_values(ascending=False).reset_index().astype(int)
qs_time['label']=2
qs_time = qs_time.rename(columns={'id_2':'id','overdue':'times'})
qs_time

                id  times  label
0      18183910801      4      2
1      13984580905      3      2
2      18683491012      3      2
3      13049519499      3      2
4      13111856527      3      2
5      15186441679      3      2
6      15379707977      3      2
7      15399370709      3      2
8      15519353899      3      2
9      13830901821      3      2
10     15595153406      3      2
11     15088221540      3      2
12     13884142166      3      2
13     15319568763      3      2
14     18314020438      3      2
15     13595439401      3      2
16     15974563210      3      2
17     18548220217      3      2
18     15974588606      2      2
19     15293771435      2      2
20            1008      2      2
21     13892291837      2      2
22     13892285922      2      2
23     13984798393      2      2
24     13557780324      2      2
25     18785855777      2      2
26     13980994256      2      2
27     15891248435      2      2
28     13919235080      2      2
29     18690422099      2      2
...            ...    ...    ...
97120  15885299658      1      2
97121  15885300760      1      2
97122  15885301826      1      2
97123  15885302044      1      2
97124  15885302633      1      2
97125  15885304459      1      2
97126  15885281581      1      2
97127  15885279293      1      2
97128  15885278976      1      2
97129  15885278857      1      2
97130  15885247222      1      2
97131  15885249348      1      2
97132  15885252599      1      2
97133  15885253694      1      2
97134  15885253986      1      2
97135  15885254537      1      2
97136  15885256696      1      2
97137  15885259001      1      2
97138  15885260113      1      2
97139  15885261688      1      2
97140  15885263105      1      2
97141  15885264659      1      2
97142  15885266581      1      2
97143  15885270549      1      2
97144  15885271697      1      2
97145  15885272886      1      2
97146  15885273742      1      2
97147  15885274407      1      2
97148  15885275583      1      2
97149  15193652848      1      2

[97150 rows x 3 columns]

In [7]:
fr_time =data.groupby(by=['id_3']).count()['overdue'].sort_values(ascending=False).reset_index().astype(int)
fr_time['label']=1
fr_time = fr_time.rename(columns={'id_3':'id','overdue':'times'})
fr_time

                id  times  label
0             1008     39      1
1      13000001008     14      1
2      13982228130     10      1
3      18380210737      9      1
4      13258281890      9      1
5      15520743904      7      1
6      18628286386      7      1
7      13666264003      7      1
8             1009      7      1
9      18583904387      7      1
10     13402847892      6      1
11     15329813230      6      1
12     13980018120      6      1
13     13880790063      6      1
14     18349163547      6      1
15     13350082451      6      1
16     18328534654      6      1
17     13540716219      6      1
18     15870113996      5      1
19     13881963041      5      1
20     18080600097      5      1
21     13808223438      5      1
22     13980461733      5      1
23     15308058984      5      1
24     15680604397      5      1
25     13684100201      5      1
26     13547063928      5      1
27     13981881932      5      1
28     18628394046      5      1
29     18685952989      5      1
...            ...    ...    ...
95178  18100853426      1      1
95179  18100950020      1      1
95180  18100950780      1      1
95181  18100952122      1      1
95182  18100953234      1      1
95183  18101039446      1      1
95184  18101094244      1      1
95185  18098413985      1      1
95186  18098359829      1      1
95187  18098091647      1      1
95188  18097498184      1      1
95189  18097384147      1      1
95190  18097384783      1      1
95191  18097392891      1      1
95192  18097405766      1      1
95193  18097408739      1      1
95194  18097412696      1      1
95195  18097482518      1      1
95196  18097486091      1      1
95197  18097499298      1      1
95198  18098088452      1      1
95199  18097668713      1      1
95200  18098001448      1      1
95201  18098004170      1      1
95202  18098009686      1      1
95203  18098036083      1      1
95204  18098040189      1      1
95205  18098078730      1      1
95206  18098081118      1      1
95207  15583049314      1      1

[95208 rows x 3 columns]

In [8]:
#merge
ab_id = loan_time[loan_time.times>2].append(fm_time[fm_time.times>1]).append(qs_time[qs_time.times>2])
ab_id = ab_id.append(fr_time[fr_time.times>2])

In [9]:
usr_df =pd.DataFrame()
usr_df['times'] = ab_id.groupby(by=['id'])['times'].sum()
usr_df['role'] = ab_id.groupby(by=['id'])['label'].apply(list)
usr_df

             times    role
id
1008           176  [3, 1]
1009             7     [1]
1016             3     [3]
13000001008     14     [1]
13007897663      4     [1]
13049519499      3     [2]
13056663334      2     [3]
13078726725      3     [1]
13086277591      3     [0]
13086314004      3     [1]
13087801709      3     [1]
13111856527      3     [2]
13111865108      3     [1]
13116361686      3     [1]
13118078779      3     [1]
13152805570      3     [1]
13158072698      3     [1]
13258281890      9     [1]
13272551864      2     [3]
13281213513      3     [1]
13308081262      4     [1]
13310439341      3     [1]
13312359989      2     [3]
13314444336      2     [3]
13323596378      3     [1]
13339688785      3     [1]
13350082451      6     [1]
13350886429      4     [1]
13368557363      2     [3]
13383399798      3     [1]
...            ...     ...
18782973587      3     [1]
18783521428      3     [1]
18785420421      2     [3]
18785499811      2     [3]
18785977430      2     [3]
18786384891      2     [3]
18786578148      2     [3]
18788151868      3     [1]
18791256539      2     [3]
18791591002      3     [1]
18791826701      3     [1]
18791974380      3     [1]
18792753077      3     [1]
18792993242      2     [3]
18793923666      2     [3]
18794764666      2     [3]
18795281526      3     [1]
18797330302      3     [1]
18798558168      2     [3]
18798850505      3     [1]
18804836587      3     [1]
18888619000      2     [3]
18911948405      3     [1]
18980424182      3     [1]
18981841355      3     [1]
18982093661      3     [1]
18985706455      3     [1]
18985788016      2     [3]
18986430637      2     [3]
18993105132      3     [1]

[482 rows x 2 columns]

In [10]:
usr_all = loan_time.append(fm_time).append(qs_time).append(fr_time)
usr_all_df = pd.DataFrame()
usr_all_df['times']=usr_all.groupby(by=['id'])['times'].sum()
usr_all_df['role'] = usr_all.groupby(by=['id'])['label'].apply(list)
usr_all_df

                      times          role
id
-9223372036854775808      4  [2, 2, 2, 2]
 1008                   178     [3, 2, 1]
 1009                     9        [2, 1]
 1014                     2           [1]
 1016                     4        [3, 2]
 1017                     1           [1]
 1021                     1           [3]
 1023                     1           [2]
 1026                     1           [1]
 1159                     1           [3]
 1163                     1           [1]
 1167                     1           [2]
 1190                     1           [1]
 1194                     1           [1]
 1841                     1           [1]
 2231                     1           [1]
 16191                    1           [3]
 669875                   1           [1]
 1371007                  1           [1]
 1801887                  1           [1]
 1828538                  1           [2]
 1839088                  1           [1]
 3428784                  1           [1]
 4401126                  1           [2]
 5798012                  1           [1]
 6177094                  1           [1]
 7212128                  1           [2]
 8388393                  1           [2]
 8733129                  1           [1]
 13112314                 1           [2]
...                     ...           ...
 183939862865             1           [2]
 183944449678             1           [1]
 184853790294             1           [3]
 185839606790             1           [1]
 185859645679             1           [1]
 186825556774             1           [1]
 186838468003             1           [2]
 186858420557             1           [3]
 186991292634             1           [3]
 187134636559             1           [1]
 187213728987             1           [2]
 187283344524             1           [2]
 187288114379             1           [1]
 187608748017             1           [1]
 187876762763             1           [1]
 187985089035             1           [1]
 188729186838             1           [1]
 188851503342             1           [1]
 188876229676             1           [1]
 189082088525             1           [1]
 189083800391             1           [1]
 189090311539             1           [1]
 189840100279             1           [1]
 189878140002             1           [2]
 213419147438             1           [1]
 992904558554             1           [3]
 1307878575843            1           [2]
 1315050147641            1           [1]
 1359895990035            1           [2]
 1388878324293            1           [1]

[314314 rows x 2 columns]

In [23]:
usr_all_df.to_csv('./usr_all_time.csv',sep='\001')
usr_all_df[usr_all_df.times>2].to_csv('./usr_all_ab.csv',sep='\001')

In [21]:
usr_all_df[usr_all_df.times>2]['times'].value_counts()

3      803
4      106
5       29
6        8
7        5
9        3
178      1
15       1
10       1
Name: times, dtype: int64

### 建网络
节点属性   
- id,id1,3 #父母
- id,id2,2 #亲属
- id,id3,1 #朋友，同事
- id1,id2,2 #亲属
- id3,id2,0.5  #可能认识
- id3,id1,0.5  #可能认识

In [4]:
e1= data.dropna(subset=['id_1'])[['id','id_1']]
e1['weight']=3
e1.rename(columns={'id':'src','id_1':'dsc'},inplace=True)
e2 = data.dropna(subset=['id_2'])[['id','id_2']]
e2['weight']=2
e2.rename(columns={'id':'src','id_2':'dsc'},inplace=True)
e3 = data.dropna(subset=['id_3'])[['id','id_3']]
e3['weight']=1
e3.rename(columns={'id':'src','id_3':'dsc'},inplace=True)
e3.head()

            src           dsc  weight
0  1.363927e+10  1.512023e+10       1
1  1.899508e+10  1.829570e+10       1
2  1.391930e+10  1.391971e+10       1
3  1.879515e+10  1.779551e+10       1
4  1.518083e+10  1.360850e+10       1

In [5]:
tmp = e1.append(e2)
tmp = tmp.append(e3)
tmp = tmp.groupby(by=['src','dsc'])['weight'].sum()
tmp = tmp.reset_index()
# tmp = tmp.astype(np.int)
tmp.shape,tmp.head()

((225742, 3),             src           dsc  weight
 0  1.300000e+10  1.390000e+10       1
 1  1.300010e+10  1.398687e+10       1
 2  1.300100e+10  1.587742e+10       1
 3  1.300100e+10  1.589105e+10       2
 4  1.300141e+10  1.366315e+10       2)

In [6]:
e4 = data.dropna(subset=['id_1','id_2'])[['id_1','id_2']]
e4['weight']=2
e4.rename(columns={'id_1':'src','id_2':'dsc'},inplace=True)
e5 = data.dropna(subset=['id_2','id_3'])[['id_2','id_3']]
e5['weight']=0.5
e5.rename(columns={'id_2':'src','id_3':'dsc'},inplace=True)
e6 = data.dropna(subset=['id_1','id_3'])[['id_1','id_3']]
e6['weight']=0.5
e6.rename(columns={'id_1':'src','id_3':'dsc'},inplace=True)
e6.head()

            src           dsc  weight
1  1.512198e+10  1.829570e+10     0.5
2  1.829326e+10  1.391971e+10     0.5
4  1.820851e+10  1.360850e+10     0.5
5  1.534690e+10  1.534690e+10     0.5
8  1.310760e+10  1.389752e+10     0.5

In [7]:
tmp1 = e4.append(e5)
tmp1 = tmp1.append(e6)
tmp1 = tmp1.groupby(by=['src','dsc'])['weight'].sum()
tmp1 = tmp1.reset_index()
# tmp1 =tmp1.astype(np.int)
tmp1.shape,tmp1.head()

((159604, 3),       src           dsc  weight
 0  1008.0  1.359596e+09     0.5
 1  1008.0  1.828561e+09     2.0
 2  1008.0  1.308699e+10     2.0
 3  1008.0  1.309680e+10     0.5
 4  1008.0  1.311860e+10     0.5)

In [8]:
tmp2 = tmp.append(tmp1)
tmp2 = tmp2.groupby(by=['src','dsc'])['weight'].sum()
tmp2 = tmp2.reset_index()
tmp2.shape

(384327, 3)

## networks 社团划分

In [9]:
#network 1
G1 = nx.from_pandas_dataframe(tmp,'src','dsc',['weight'])
print G1.number_of_nodes()
print G1.number_of_edges()
# #network 2
# G2 = nx.from_pandas_dataframe(tmp2,'src','dsc',['weight'])
# print G2.number_of_nodes()
# print G2.number_of_edges()

314260
224654

In [16]:
loop_nodes=pd.DataFrame()
loop_nodes['id'] = G1.nodes_with_selfloops()
loop_nodes = loop_nodes.merge(data[['id','is_abnormal']],on='id',how='left')
loop_nodes.drop_duplicates(inplace=True)
loop_nodes['is_abnormal'].value_counts()

0    1060
1     417
2     138
Name: is_abnormal, dtype: int64

In [19]:
nx.average_degree_connectivity(G1)

{1: 2.4170467076612527,
 2: 1.1726165106332946,
 3: 1.4186963504458106,
 4: 1.6509757383966244,
 5: 1.73416149068323,
 6: 1.6435185185185186,
 7: 1.8181818181818181,
 8: 1.875,
 9: 1.9444444444444444,
 10: 2.0,
 15: 2.466666666666667,
 178: 2.938202247191011}

In [11]:
#nodes attribute
# data[id] = data['id'].astype(int)
# tmp3 = data.groupby(by=['id'])['is_abnormal'].apply(lambda a:list(a)[-1])
# for id in tmp3.index:
#     try:
#         G1.node[id]['label']=tmp3.at[id]
#         G2.node[id]['label']=tmp3.at[id]
#     except:
#         G1.add_node(id,label=tmp3.at[id])
#         G2.add_node(id,label=tmp3.at[id])
# G1.nodes(data=True)

In [12]:
# nx.get_node_attributes(G1,'label')
# print nx.get_node_attributes(G2,'label')

In [13]:
# communities = list(nx.k_clique_communities(G1,4))
# communities

# sub_graph = nx.subgraph(G1,['13985776740', '15286214503', '18285456348', '18932045810'])
# sub_graph.number_of_edges()

# data[data.id=='15286214503']

# data[data.id=='13985776740']

# com2 = list(nx.k_clique_communities(G2,5))
# com2

# data[data.id=='13892193002']

# data[data.id=='13571140739']

# sub_g2 =nx.subgraph(G2,set(['13484654728','13571140739','13571158670','13892193002','15319574098','13984979849',
#                             '14708602047','14785677001','15186637987','15348682422']))
# sub_g2.edges(data=True)

# import matplotlib.pyplot as plt
# nx.draw_networkx(sub_graph)

# plt.show()

## igraph
节点必须为integer类型，需要对电话进行枚举重新编码

In [14]:
#重新编码
id=data['id'].dropna().tolist()
id_1= data['id_1'].dropna().tolist()
id_2 =data['id_2'].dropna().tolist()
id_3=data['id_3'].dropna().tolist()

In [15]:
ids =set(id+id_1+id_2+id_3)
id_df=pd.DataFrame(data=list(ids),columns=['ids'])
id_df.head()

            ids
0  1.593469e+10
1  1.370856e+10
2  1.828524e+10
3  1.346852e+10
4  1.874854e+10

In [16]:
id_dict = id_df.reset_index().set_index('ids').to_dict()['index']
id_dict
tmp['src']=tmp['src'].map(id_dict)
tmp['dsc']=tmp['dsc'].map(id_dict)
tmp.head()

      src     dsc  weight
0  166921   45972       1
1  226330  262024       1
2  138822  240090       1
3  138822  243542       2
4  206449  123165       2

In [17]:
#构建网络
edges=zip(tmp['src'],tmp['dsc'],tmp['weight'])
g = Graph.TupleList(edges,edge_attrs=['weight'])
g.summary()

'IGRAPH UNW- 314260 225742 -- \n+ attr: name (v), weight (e)'

In [18]:
#社团划分,合并相同节点间的边和自环
uG = g.simplify(combine_edges =sum)
fg = uG.community_fastgreedy(weights = 'weight')
fg

In [29]:
#缓存
import pickle
f = open('communities.txt', 'wb')
pickle.dump(communities, f)
f.close()

In [20]:
#社团大小大于4的社团
communities = [l for l in fg.as_clustering()  if len(l)>5 ]
len(communities)

2756

In [26]:
nodes = []
for com in communities:
    nodes =nodes+com
len(nodes)

19791

In [ ]:
sub_g = g.subgraph(nodes)
plot(sub_g,'sub_g.pdf',layout=sub_g.layout('kk'),mark_groups=True)

In [75]:
#节点属性
tmp3 = data.groupby(by=['id'])['is_abnormal'].apply(lambda a:list(a)[-1])
tmp3.index = tmp3.reset_index()['id'].map(id_dict)
tmp3

id
280328    1
166921    1
226330    1
138822    1
206449    0
77414     0
115275    0
6485      1
26805     1
75560     1
18675     0
23920     0
33871     0
132529    0
285452    0
300373    0
308429    1
7071      1
7447      1
9951      0
13170     0
19129     1
23878     2
32378     1
39878     0
42366     0
53557     0
55016     0
75615     1
76737     1
         ..
297980    0
667       0
7074      0
10397     1
11013     0
208010    0
69954     0
74855     0
76093     0
76263     0
162631    0
91017     1
104167    0
113854    0
125883    1
226509    0
160649    0
271926    0
208977    0
209770    1
255050    0
273026    0
57228     1
123189    0
34997     0
60557     0
99330     0
163299    0
178619    1
308522    0
Name: is_abnormal, Length: 99094, dtype: int64

In [88]:
#usr feature
usr_f =pd.DataFrame()
usr_f['loan_time'] = data.groupby(by=['id']).count()['overdue']
usr_f['loan_id1'] = data.groupby(by=['id'])['id_1'].apply(lambda a:len(set(a)))
usr_f.shape,usr_f.head()
data = data.merge(usr_f.reset_index(),on='id',how='left')
data

((99094, 2),                        loan_time  loan_id1
 id
 1.55871559001376E+021          1         1
 12345662244                    1         1
 13000001008                    1         1
 13000099806                    1         1
 13001002738                    1         1)

In [90]:
#统计
data[data.is_abnormal=='1'].shape  #29455
data[data.overdue.notnull()]['overdue'].value_counts()

0    90893
1     3654
4     1650
2     1361
3     1077
5      789
7      238
6       64
Name: overdue, dtype: int64

In [155]:
edge3 = data[['id','id_3','is_abnormal']]
edge3 = edge3.groupby(by=['id','id_3'])['is_abnormal'].apply(lambda a:list(a)[-1])
edge3 =edge3.reset_index()
edge3

                          id         id_3  is_abnormal
0      1.55871559001376E+021  18313887294            0
1                13000001008  13900001008            1
2                13000099806  13986868817            1
3                13001002738  15877415138            1
4                13001411187  15127561315            0
5                13001424290  13903353168            0
6                13001487652  18134371238            0
7                13001863449  15231028714            1
8                13001945455  15650929428            1
9                13002373897  15683113259            0
10               13002382799  18523505726            0
11               13002399473  13370751918            0
12               13002565194  18191501891            0
13               13002818564  18090412260            0
14               13002843410  15182308219            0
15               13002856917  13408408782            1
16               13002878545  13541646686            1
17               13002879145  15082005984            1
18               13002883405  18989226379            0
19               13002888755  15983141019            0
20               13002898938  18990096663            1
21               13002907005  14792266320            2
22               13002921268  17719591398            1
23               13002933903  15129803665            0
24               13002938105  13002932515            0
25               13002956928  15594607690            0
26               13002959369  13227734964            0
27               13002994123  18192937138            1
28               13002996034  13201901345            1
29               13004564351  13387388980            0
...                      ...          ...          ...
97861            18997005078  13909781011            0
97862            18997024101  17709722609            0
97863            18997052522  13897520932            0
97864            18997063252  18997069941            0
97865            18997068882  15209714247            1
97866            18997069941  13997186421            0
97867            18997109485  15897157871            0
97868            18997169326  15897150309            0
97869            18997177569  18797330302            0
97870            18997179645  18097205649            0
97871            18997179922  15309718797            0
97872            18997184240  13109781374            0
97873            18997204457  13099793999            1
97874            18997226512  15897116248            0
97875            18997242840  13909728663            0
97876            18997263088  15500545343            1
97877            18997268058  18797120921            0
97878            18997320825  13997256632            0
97879            18997389166  18297173989            0
97880            18997401614  18309708340            0
97881            18997402927  15500706085            1
97882            18997477676  13086227964            0
97883            18998555563  13765313098            0
97884            18999244951  13999401060            1
97885            18999355634  15559327169            0
97886            18999731834  18293505061            0
97887            18999774894  18129218185            0
97888            18999839805  18999839805            0
97889            18999946798  15981763213            0
97890            18999972457  13095033360            1

[97891 rows x 3 columns]